
# Set the PATH environment variable to include orderer and peer binaries:
export PATH=$(pwd)/bin:$PATH

# Set the FABRIC_CFG_PATH environment variable to point to the sampleconfig folder
export FABRIC_CFG_PATH=$(pwd)/sampleconfig

#  put this in your zshrc file
# eval "$(direnv hook zsh)"